@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li class="navi" id="btn-media">IGオブジェクト</li>
    <li class="navi" id="btn-insight">インサイト</li>
</ul>

<div id="media-list"></div>

<link rel="stylesheet" href="~/css/home.css" />
<script src="~/js/home.js"></script>