@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li id="btn-igObject">IGオブジェクト</li>
    <li id="btn-insight">インサイト</li>
</ul>

<link rel="stylesheet" href="~/css/home.css" />
<script src="~/js/home.js"></script>